/* Tu CSS existente va aquí */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    align-items: center;
}

.header {
    background-color: rgb(55, 123, 179);
    height: 70px;
    display: flex;
}

.header-collapsed {
    background-color: rgb(55, 123, 179);
    height: 70px;
    display: flex;
}

.details-logo-portada {
    margin: 20px;
    margin-top: auto;
}

/*Ocultar el logo en pantallas grandes*/
.icon-logo {
    display: none;
}
.icon-portada {
    height: 70px;
    width: 360px;
}

.header-menu {
    margin: auto;
    margin-top: auto;
}

.menu-list {
/*aumentar el tamaño de la fuente*/
    font-size: 18px;
    list-style:inside;
    padding: 0;
    margin: auto;
    background-color: transparent;
}
.menu-link {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #ffffff;
    margin-top: auto;
    background-color: transparent;
}

.button-image {
    height: 100px;
    width: 100px;
}

.ak-grid-items-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
    margin-left: auto;
    align-items: center;
    list-style: none;
    padding: 10px;
}

.filters-content-desktop {
    margin-left: auto;
    text-align: left;
    width: 100%;
}

.filters-lefth-panel {
    display: flex;
    justify-content: space-between;
    align-items: left;
    /*Quitar espacio de la izquierda*/
    margin-left: 0;
}

.filters-content-desktop {
    margin-left: auto;
}
/* Estilos para móviles */

.detalle-content {
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin-right: 10px;
    text-decoration: none;
}

.k-product-contenedor {
    text-decoration: none;
}

.text-color {
    color: #377bb3;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: rgb(55, 123, 179);
    height: 80px;
    display: flex;
}

.header-collapsed {
    background-color: rgb(55, 123, 179)    ;
    height: 80px;
    display: flex;
}

.details-logo-portada {
    margin: 20px;
    margin-top: auto;
}

/*Mostrar en pantallas menores a 600*/
.icon-logo {
    display: block;
    height: 80px;
    width: 80px;
}

/*Ocultar en pantallas mayores a 600*/
.icon-portada {
    display: none;
}

.header-menu {
    margin: auto;
    margin-top: auto;
}

.menu-list {
/*aumentar el tamaño de la fuente*/
    font-size: 20px;
    list-style:inside;
    padding: 0;
    margin: 0;
}
.menu-link {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #ffffff;
    margin-top: auto;
}

.button-image {
    height: 100px;
    width: 100px;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style: none;
}
}

/* Estilos para tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Tus estilos van aquí */
}
