/* Tu CSS existente va aquí */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    align-items: center;
}

.header {
    background-color: rgb(55, 123, 179);
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-collapsed {
    background-color: rgb(55, 123, 179);
    height: 70px;
    display: flex;
}

.details-logo-portada {
    margin-top: auto;
}

.icon-logo {
    display: none;
}
.icon-portada {
    height: 70px;
    width: 360px;
    margin-left: 20px;
}

.menu-icon {
    height: 70px;
    width: 70px;
    list-style: none;
    display: flex;
}

.menu-contenedor {
    height: 70px;
    width: 70px;
}

.menu-item {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    margin-right: 30px;
    margin-top: 5px;
    text-align: center;
}

.header-menu {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.menu-link {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #ffffff;
    margin-top: auto;
    background-color: transparent;
}

.home {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
}

.home-text {
    font-size: 20px;
    color: #000000;
    margin-top: auto;
    margin-left: 20px;
}

.button-image {
    height: 100px;
    width: 100px;
}

.ak-grid-items-category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    row-gap: 50px;
    text-align: center;
    margin: 60px;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-top: 70px;
}

.k-product-contenedor {
    border-radius: 50%;
}

.filters-content-desktop {
    margin-left: auto;
}

.detalle-content {
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin-right: 10px;
    text-decoration: none;
}

.text-color {
    color: #377BB3;
    text-decoration: none;
}

footer {
    color: #ffffff;
    background-color: #377BB3;
    padding: 1px;
    text-align: center;
}

.footer-section {
    display: inline-block;
    width: 50%; 
    border-bottom: 1px solid #ffffff;
}

.footer-section h3, .footer-section h4{
    font-size: 25px;
    color: #ffffff;
}

.footer-section p, .footer-section img {
    margin-top: 10px;
}

.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/*CSS para pantallas menores a 600px------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: rgb(55, 123, 179);
    height: 80px;
    display: flex;
}

.header-collapsed {
    background-color: rgb(55, 123, 179)    ;
    height: 80px;
    display: flex;
}

.details-logo-portada {
    margin: 10px;
    margin-top: auto;
}

/*Mostrar en pantallas menores a 600*/
.icon-logo {
    display: block;
    height: 80px;
    width: 80px;
}

/*Ocultar en pantallas mayores a 600*/
.icon-portada {
    display: none;
}

.menu-item {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
}

.header-menu {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    margin-left: 0px;
}

.menu-list {
/*aumentar el tamaño de la fuente*/
    font-size: 20px;
    list-style:inside;
    padding: 0;
    margin: 0;
}
.menu-link {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #ffffff;
    margin-top: auto;
}

.home {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

.button-image {
    height: 100px;
    width: 100px;
}

.ak-grid-items-category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    text-align: center;
    margin-left: auto;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-top: auto;
}

.filters-content-desktop {
    margin-left: auto;
}

.detalle-content {
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin-right: 10px;
    text-decoration: none;
}

.k-product-contenedor {
    text-decoration: none;
}

.text-color {
    color: #377bb3;
    text-decoration: none;
}

footer {
    color: #ffffff;
    background-color: #377BB3;
    padding: 1px;
    text-align: center;
}

.footer-section {
    border-bottom: 1px solid #ffffff; /* Esto agrega una línea negra de 1px al final del elemento */
}
.footer-section h3, .footer-section h4{
    font-size: 25px;
    color: #ffffff;
}

.footer-section p, .footer-section img {
    margin-top: 10px;
}

.content-image {
    /*encerrar imagenes en un circulo*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


}

/* Estilos para tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Tus estilos van aquí */
}