/* Tu CSS existente va aquí */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: rgb(255, 197, 8);
    height: 80px;
    display: flex;
}

.company-details {
    display: flex;
    align-items: center;
    margin: auto; /* Centra el elemento verticalmente */
    margin-left: 10px; /* Anula el centrado horizontal */
}

.logo-icon-container {
    display: flex;
    align-items: center;
    margin-right: auto; /* Centra el elemento verticalmente */
    margin-left: 10px; /* Anula el centrado horizontal */
}

/*Ocultar el logo en pantallas grandes*/
.logo-icon-container img {
    display: none;
}
.logo-icon {
    height: 80px;
    width: 80px;
}

.portadaname {
    height: 80px;
    width: 360px;
}

.info a {
    color: rgb(234, 248, 32);
    text-decoration: none;
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.desktop-menu ul li {
    margin-left: 20px;
}

.desktop-menu ul li a {
    color: rgb(47, 61, 85);
    text-decoration: none;
}

.actions {
    display: flex;
}

.actions .action {
    margin-left: 20px;
}

/* Tus Media Queries van al final */

@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }

    .container {
        width: 100%;
    }

    header {
        padding: 20px 0;
    }

    header h1, header nav {
        float: none;
        text-align: center;
    }

    header li {
        display: block;
        padding: 10px;
    }

    #showcase h1 {
        font-size: 30px;
    }

    #showcase p {
        font-size: 16px;
    }

    footer {
        padding: 10px;
    }
}
