/* Tu CSS existente va aquí */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    align-items: center;
}

.header {
    background-color: rgb(55, 123, 179);
    height: 70px;
    display: flex;
}

.header-collapsed {
    background-color: rgb(55, 123, 179);
    height: 70px;
    display: flex;
}

.details-logo-portada {
    margin-top: auto;
}

.icon-logo {
    display: none;
}
.icon-portada {
    height: 70px;
    width: 360px;
    margin-left: 20px;
}

.menu-icon {
    height: 70px;
    width: 70px;
    list-style: none;
    display: flex;
}

.menu-contenedor {
    height: 70px;
    width: 70px;
}

.menu-item {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    margin-right: 30px;
    margin-top: 5px;
    text-align: center;
}

.header-menu {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    margin-left: 20px;
}
.menu-link {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #ffffff;
    margin-top: auto;
    background-color: transparent;
}

.home {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.home-text {
    font-size: 20px;
    color: #000000;
    margin-top: auto;
    margin-left: 20px;
}

.button-image {
    height: 100px;
    width: 100px;
}

.ak-grid-items-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    row-gap: 20px;
    text-align: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.product-description, .product-code, .product-price {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}


/*Inicio ajustes para el mosaico de articulos---------------------------------------------------------------------------------------------------------------------------------------*/
.k-product-contenedor {
    border: 0.1px solid #377BB3;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    width: 200px;
    height: 350px;
}

.k-product-contenedor img {
    width: 200px;
    height: 200px;
}

.product-code {
    text-align: right;
    font-size: 14px;
    color: #377BB3;
    margin-top: 0px;
}

.product-description {
    text-align: left;
    font-size: 20px;
    color: #377BB3;
    margin-top: 10px;
}

.product-price {
    /*Ubicar el texto en la parte baja a la derecha*/
    font-size: 20px;
    color: #377BB3;
    margin-top: 30px;
    text-align: right;
}

.product-code,
.product-description,
.product-price {
    word-wrap: break-word; /* Ajusta las palabras largas para que se ajusten al contenedor */
}

.k-product-contenedor.expanded img {    
    width: 100%;
    height: auto;
    max-width: 500px; /* Limita el ancho máximo a 500px */
    max-height: 500px; /* Limita la altura máxima a 500px */
}

.k-product-contenedor.expanded {
    /*Que se superponga sobre el resto de la página*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60vh;
    height: 70vh;
    margin: auto;
}
/*Fin ajustes para el mosaico de articulos-----------------------------------------------------------------------------------------------------------------------------------------*/
.filters-content-desktop {
    margin-left: auto;
}

.detalle-content {
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin-right: 10px;
    text-decoration: none;
}

.text-color {
    color: #377BB3;
    text-decoration: none;
}

footer {
    color: #ffffff;
    background-color: #377BB3;
    padding: 1px;
    text-align: center;
}

.footer-section {
    display: inline-block;
    width: 50%; 
    border-bottom: 1px solid #ffffff;
}

.footer-section h3, .footer-section h4{
    font-size: 25px;
    color: #ffffff;
}

.footer-section p, .footer-section img {
    margin-top: 10px;
}

.content-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/*CSS para pantallas menores a 600px------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 600px) {
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: rgb(55, 123, 179);
    height: 80px;
    display: flex;
}

.header-collapsed {
    background-color: rgb(55, 123, 179)    ;
    height: 80px;
    display: flex;
}

.details-logo-portada {
    margin: 10px;
    margin-top: auto;
}

/*Mostrar en pantallas menores a 600*/
.icon-logo {
    display: block;
    height: 80px;
    width: 80px;
}

/*Ocultar en pantallas mayores a 600*/
.icon-portada {
    display: none;
}

.menu-item {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
}

.header-menu {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    margin-left: 0px;
}

.menu-list {
/*aumentar el tamaño de la fuente*/
    font-size: 20px;
    list-style:inside;
    padding: 0;
    margin: 0;
}
.menu-link {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #ffffff;
    margin-top: auto;
}

.home {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.button-image {
    height: 100px;
    width: 100px;
}

.ak-grid-items-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    text-align: center;
    margin-left: auto;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin-top: auto;
}

.filters-content-desktop {
    margin-left: auto;
}

.detalle-content {
    font-size: 20px;
    padding: 10px 0 10px 0;
    margin-right: 10px;
    text-decoration: none;
}

.text-color {
    color: #377bb3;
    text-decoration: none;
}

footer {
    color: #ffffff;
    background-color: #377BB3;
    padding: 1px;
    text-align: center;
}

.footer-section {
    border-bottom: 1px solid #ffffff; /* Esto agrega una línea negra de 1px al final del elemento */
}
.footer-section h3, .footer-section h4{
    font-size: 25px;
    color: #ffffff;
}

.footer-section p, .footer-section img {
    margin-top: 10px;
}

.content-image {
    /*encerrar imagenes en un circulo*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/*Inicio ajustes para el mosaico de articulos---------------------------------------------------------------------------------------------------------------------------------------*/
.k-product-contenedor {
    border: 0.1px solid #377BB3;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    width: 150px;
    height: 300px;
}

.k-product-contenedor img {
    width: 150px;
    height: 150px;
}

.product-code {
    text-align: right;
    font-size: 14px;
    color: #377BB3;
    margin-top: 0px;
}

.product-description {
    text-align: left;
    font-size: 20px;
    color: #377BB3;
    margin-top: 10px;
}

.product-price {
    /*Ubicar el texto en la parte baja a la derecha*/
    font-size: 20px;
    color: #377BB3;
    margin-top: 30px;
    text-align: right;
}

.product-code,
.product-description,
.product-price {
    word-wrap: break-word; /* Ajusta las palabras largas para que se ajusten al contenedor */
}

.k-product-contenedor.expanded img {    
    width: 100%;
    height: auto;
    max-width: 500px; /* Limita el ancho máximo a 500px */
    max-height: 500px; /* Limita la altura máxima a 500px */
}

.k-product-contenedor.expanded {
    /*Que se superponga sobre el resto de la página*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60vh;
    height: 70vh;
    margin: auto;
}
/*Fin ajustes para el mosaico de articulos-----------------------------------------------------------------------------------------------------------------------------------------*/

}

/* Estilos para tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Tus estilos van aquí */
}
